
<%= link_to('Add image', controller: 'images', action: 'new') %>

<% if @images.length > 0 %>

<h1>My images</h1>

<table>
  <tr>
    <th>URL</th>
    <th>Preview</th>
  </tr>
 
  <% @images.each do |image| %>
    <tr>
      <td><a href="<%= url_for(image) %>"><%= image.url %></a></td>
      <td><img width="400" src="<%= image.url %>"></td>
    </tr>
  <% end %>
</table>

<% end %>