<h1>New Image</h1>

<%= form_with scope: :image, url: :images, local: true do |form| %>
  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>