<nav>
  <%= link_to 'My Images', controller: 'images' %>
</nav>

<section>
  <h2>URL</h2>
  <p>
    <%= @image.url %>
  </p>
</section>

<section class="tags">
  <h2>Tags</h2>
  <p class="tag_list">
    <%= @image.tag_list.each do |t| t end %>
  </p>
</section>

<section>
  <h2>Image</h2>
  <div>
    <%= image_tag @image.url %>
  </div>
</section>
